@charset "utf-8";
@font-face {

font-family: "Oxygen";

src: url(Fuente/Oxygen.ttf) format("opentype") ;

}
/* CSS Document */
#localStorageInside{
	width:100%;
	float:left;
	border-top:1px solid #fff;
	background-color:#d8d8d8;
	margin-top:5px;
}

.lsind{
	float:left;
	width:33.3%;
	font-size:70%;
}
body{
	font-family:"Oxygen", Arial, sans-serif;
	font-size:2rem;
	background-color:#f2f2f2;
	margin:0px;
	color:#1C140D;
}
/* -------------------------------------Estilo de la cabecera--------------------------------- */
#Cabecera{
	border-bottom:1.5px solid #d7d7d7;
	background-color:#fff;
	overflow: hidden;
	text-align: center;
}

#logo{
	margin-left:8%;
}
#logo img{
	float:left;
	height: 2.4em;
}
#logo a span{
	font-size: 160%;
	float:left;
	padding-top:3px;
	font-weight: bold;
}

#Inici,#Biblio,#Cuenta{
	display:inline-table;
	margin:0px;
	padding:0px;
	font-size:120%;
	overflow: hidden;
	font-weight: bold;
	color:#1C140D;
	margin-top:8px;
}
#Biblio{
	padding-left:47px;
}
#Inici a,#Biblio a{
	float:inherit;
}
#Cuenta a{
	float:inherit;
}
#Cuenta .aba,#Inici .aba,#Biblio .aba{
	background-color:#34A143;
	margin-top:0em;
	color:#fff;
	width: 100%;
	height: 0.2em;
}

#Biblio{
	border-left: 0.15em solid #d7d7d7;
}

#Cuenta{
	margin-right:10%;
	margin-lefT:0px;
	border:none;
	padding-left:0px;
	float:right;
}

#Inici{
	margin-left:-52px;
	margin-right:40px;
}

#Biblio .aba{
	margin-top:-60px;
	padding-top:0.4em;
	padding-bottom: 0.01em;
	height: 50px;
}
#Biblio span{
	opacity:0.0;
}

#Cuenta span:hover,#Inici span:hover{
	background-color:#34A143;
	color:#fff;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	transition: background-color 0.4s;
}
a:link{
	text-decoration: none;
}
a{
	color:#1C140D;
}
/* ----------------------------fin Estilo de la cabecera------------------------ */

/* --------------------------------Cuerpo Principal----------------------------- */
#CuerpoPrincipal{
	overflow: hidden;
	margin-left:8%;
	margin-right:8%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	background-color:#F8F8F8;
	border: 1.5px solid #d7d7d7;
}

.tituloSección{
	text-align: center;
	font-weight: bold;
	font-size: 90%;
	padding: 0.3em;
	color:#34A143;
	background-color:#ffffff;
	border: 1.5px solid #d7d7d7;
	border-radius: 20px 20px 0px 0px;
}

.contenidoSección{
	overflow:hidden;
	background-color:#fcfcfc;
	margin-left: 3px;
	margin-right: 3px;
	border: 1.5px solid #d7d7d7;
	border-radius: 0px 0px 20px 20px;
	padding: 20px;
	padding-bottom:0px;
}

.Selectores{
	text-align: center;
	width: 25%;
	overflow: hidden;
	float:left;
}

.Selectores button{
	display:inline-table;
	background-color: #fff;
	border: 1.5px solid #d7d7d7;
	border-radius: 5px;
	color:#34A143;
	font-size: 70%;
}

#a{
	margin-top:1em;
	float:left;
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding-bottom: 0.7em;
	border-bottom: 2px solid #d7d7d7;
	margin-bottom: 1em;
}

#buscador{
	overflow: hidden;
	width: 60%;
	display: inline-table;
}

#buscador input{
	float:left;
	font-size:1em;
	height: 1.68em;
	width:80%;
	border:1.5px solid #d7d7d7;
	border-radius: 5px 0px 0px 5px;
}

#buscador button{
	float:left;
	background-color: #fff;
	border: 1.5px solid #d7d7d7;
	border-radius: 0px 5px 5px 0px;
	color:#34A143;
	width:19%;
	border-left:0px;
}

#buscador img{
	height: 3.88em;
}

.libro{
	float:left;
	width:25%;
	text-align: center;
	margin-bottom: 20px;
}

.contlib{
	display:inline-table;
}

.contlib img{
	flaot:right;
	width:5em;
	height: 7em;
	border-radius: 10px 0px 0px 10px;
}

.titulo{
	float:right;
	height: 7em;
	border: 1.5px solid #d7d7d7;
	border-left: 0px;
	background-color: #fff;
	width:4.5em;
	border-radius: 0px 10px 10px 0px;
	
}

.titulo h1{
	font-size:60%;
	color:#34A143;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-left: 3px;
}

.titulo h2{
	text-align: left;
	font-size:40%;
	margin-top:0px;
	padding-left:5px;
}




/* Pie de pagina y animaciones basicas */

footer{
	background-color:#a8a8a8;
	color:#34A143;
	overflow: hidden;
	display:table;
	width: 100%;
	font-size:90%;
	border-top: 1.5px solid #d7d7d7;
}
footer img{
	height:70px;
}
footer img:nth-last-child(3), footer img:nth-last-child(2){
	float:right;
	margin-left:3%;
}
footer img:nth-last-child(3){
	margin-right:8%;
}
#fb{
	height: 65px;
	padding-top:2px;
}
.follow{
	font-weight: bold;
	margin-top:15px;
	display:table-cell;
	vertical-align: middle;
	float:right;
}
footer img:first-child{
	float:left;
	margin-left:8%;
}
.der{
	font-weight: bold;
	margin-top:15px;
	display:table-cell;
	vertical-align: middle;
	float:left;
	margin-left:3%;
}

.dropdown {
	margin-top:8px;
	margin-right:1%;
	float:right;
	font-size:130%;
	color:#34a143;
	font-weight: bold;
	text-transform: uppercase;
    display: none;
}

.dropdown-content {
	border: 1.5px solid #d7d7d7;
    display: none;
	position:fixed;
	margin-left:-135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 16px;
    z-index: 1;
	background-color:#fff;
}

.dropdown-content div{
	border-bottom:2.5px solid #d7d7d7;
}

.dropdown-content div:last-child{
	padding-bottom:3px;
	border-bottom:0px;
}

.dropdown-content div:hover{
	background-color:#d7d7d7;
}
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width:1590px){
	.libro{
		width:33%;
	}
}

@media screen and (max-width:1240px){
	.libro{
		width:50%;
	}
	
	#Inici,#Biblio,#Cuenta{
		display:none;
	}
	
	.dropdown{
		display:inline-block;
	}
	
}
@media screen and (max-width:900px){
	#CuerpoPrincipal{
		margin-left:0px;
		margin-right:0px;
		border-left:0px;
		border-right:0px;
	}
}
@media screen and (max-width:800px){
	.Selectores{
		width:50%;
	}
}

#login{
	overflow:hidden;
	margin-top:5px;
	z-index:1;
}

#imgLogin{
	height:50px;
	width:40px;
	border-radius:25px 25px 25px 25px;
	border: 1.5px solid #34a143;
	float:left;
}


#nombreLoginp{
	float:left;
	display: table;
	height:50px;
}

#nombreLogin{
	display: table-cell;
	vertical-align: middle;
	color:#34a143;
	font-size:50%;

}

#imgLogin img{
	height:100%;
	width:100%;

	border-radius:25px 25px 25px 25px;
}

#login ul{
	display:none;
}

#login:focus ul, #login:active ul {
	display: block;
	position: absolute;
	width: 816px;
	border:	solid 1px #34a143;
	border-top: none;
	background-color: #fff;
}

.dropdownGoogle{
	position:relative;
	display:inline-block;
	cursor:pointer;
}

.dropdown-contentGoogle{
	top:65px;
	display:none;
	position:fixed;
	background-color: #ffffff;
	min-width:160px;
	border:1.5px solid #d7d7d7;
	border-top: 0px;
	z-index:0;
	padding:0px;
	text-align:left;
	font-size:1rem;
}

.dropdown-contentGoogle a {
	color:#34a143;
    padding: 12px 16px;
	padding-top:5px;
    text-decoration: none;
    display: block;
}

.dropdown-contentGoogle a:hover {
	background-color: #fafafa;
}

.dropdownGoogle:hover .dropdown-contentGoogle {
    display: block;
}

.g-signin2{
	display:none;
}

#afegir{
	position:absolute;
	top:300px;
	left:85%;
	width:30px;
	height:30px;
}

#afegir img{
	width:100%;
	height:100%;
}